
.home-content {

  .content {
    .main-logo {
      display:none;
      #logo {
        width: 70px;
        left: 10px;
      }
    }
    #slider-container{
      top: 30px;
    }
  }
}

.flex-control-paging li a {
  width: 11px;
  height: 11px;
}

.flex-control-nav {
  li {
    margin: 0 6px;
  }
}


.about-content{
  .content {
    height:500px;
    .about-section {
      width: 300px;
      min-height: 600px;
    }
  }
}